version: 2
root-markers:
  - .git/
lint-bounce: 1s

tools:
  css-prettier: &css-prettier
    format-command: 'prettier --parser css'
    format-stdin: true
  javascript-prettier: &javascript-prettier
    format-command: 'prettier --parser babel'
    format-stdin: true
  lua-stylua: &lua-stylua
    format-command: 'stylua -s -'
    format-stdin: true
  rst-rstcheck: &rst-rstcheck
    lint-command: 'rstcheck'
    lint-ignore-exit-code: true
    lint-source: 'rstcheck'
    lint-formats:
      - '%f:%l: (%tNFO/1) %m'
      - '%f:%l: (%tRROR/3) %m'
  sh-shfmt: &sh-shfmt
    format-command: 'shfmt -s'
    format-stdin: true
  typescript-prettier: &typescript-prettier
    format-command: 'prettier --parser typescript'
    format-stdin: true
  yaml-prettier: &yaml-prettier
    format-command: 'prettier --parser yaml'
    format-stdin: true

languages:
  css:
    - <<: *css-prettier
  javascript:
    - <<: *javascript-prettier
  lua:
    - <<: *lua-stylua
  rst:
    - <<: *rst-rstcheck
  sh:
    - <<: *sh-shfmt
  typescript:
    - <<: *typescript-prettier
  yaml:
    - <<: *yaml-prettier
  zsh:
    - <<: *sh-shfmt
