# yaml-language-server: $schema=https://raw.githubusercontent.com/mattn/efm-langserver/master/schema.json
version: 2
root-markers:
  - .git/
lint-debounce: 100ms

tools:
  css-prettier: &css-prettier
    format-command: "prettier --parser css"
    format-stdin: true
  dockerfile-hadolint: &dockerfile-hadolint
    lint-command: "hadolint --no-color"
    lint-formats:
      - "%f:%l %m"
  javascript-prettier: &javascript-prettier
    format-command: "prettier --parser babel"
    format-stdin: true
  lua-stylua: &lua-stylua
    format-command: "stylua -s -"
    format-stdin: true
  sh-shfmt: &sh-shfmt
    format-command: "shfmt -s"
    format-stdin: true
  typescript-prettier: &typescript-prettier
    format-command: "prettier --parser typescript"
    format-stdin: true
  yaml-prettier: &yaml-prettier
    format-command: "prettier --parser yaml"
    format-stdin: true

languages:
  css:
    - <<: *css-prettier
  dockerfile:
    - <<: *dockerfile-hadolint
  javascript:
    - <<: *javascript-prettier
  javascriptreact:
    - <<: *javascript-prettier
  lua:
    - <<: *lua-stylua
  sh:
    - <<: *sh-shfmt
  typescript:
    - <<: *typescript-prettier
  typescriptreact:
    - <<: *typescript-prettier
  yaml:
    - <<: *yaml-prettier
  zsh:
    - <<: *sh-shfmt
